<!DOCTYPE html>
<html>
  <head>
    <title>EpistolamAdAstra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="google-adsense-account" content="ca-pub-3589211087482425">
  </head>

  <body>
    <main class="grid grid-cols-5">
      <div class="col-span-1">
      </div>
      <%= yield %>
      <div class="col-span-1">
      </div>
    </main>
  </body>
</html>
