<!DOCTYPE html>
<html>
  <head>
    <title>EpistolamAdAstra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="google-adsense-account" content="ca-pub-3589211087482425">
  </head>

  <body>
    <header class="bg-[#0f3460] p-4 text-[#E5E5E5]">
      <ul class="flex flex-wrap place-content-center">
        <li class="mx-4"><a class="text-l" href="/">EpistolamAdAstraとは</a></li>
        <li class="mx-4"><a class="text-l" href="/messages">メッセージを読みたい</a></li>
        <li class="mx-4"><a class="text-l" href="/messages/new">メッセージを書きたい</a></li>
      </ul>
    </header>
    <main class="flex flex-col md:flex-row">
      <div class="basis-1/5 mb-10">
      
      </div>
      <%= yield %>
      <div class="basis-1/5">
      
      </div>
    </main>
  </body>
</html>
